@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato&family=Roboto:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background-color: #d9cdf7;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.rotateIcon360,
.closeButton {
  align-self: flex-end;
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}

.rotateIcon360 {
  display: block;
  height: 22.47px;
  width: 33px;
}

.closeButton {
  display: none;
  height: 16px;
  margin-top: 5px;
  margin-right: 45px;
  width: 16px;
}

.couch {
  display: block;
}

.couchRotation {
  display: none;
}

.productImage {
  display: flex;
  flex-direction: column;
  height: 222.96px;
  width: 449px;
}

.productInfo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 13px;
  font-family: 'Crimson Pro';
  font-weight: 600;
  font-size: 32px;
}

.productCode,
.productTitle,
.productPrice {
  margin-bottom: 12px;
}

.productCode {
  color: #271a45;
  font-family: 'Lato';
  font-size: 11px;
  font-weight: 300;
}

.productTitle {
  color: #271a45;
  font-family: 'Crimson Pro';
  font-size: 32px;
  font-weight: bolder;
}

.productPrice {
  color: #796c97;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
}

.sendToBasket {
  background-color: #d9cdf7;
  border-radius: 999px;
  color: #271a45;
  border: 0.5px solid #271a45;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
  height: 32px;
  width: 148px;
  cursor: pointer;
}

.sendToBasket:hover {
  background-color: #271a45;
  color: #d9cdf7;
}
